@import "../../../index.scss";

.standart__content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-right: 50px;
  margin-left: 140px;
}

.standart__size {
  max-width: 500px;
}

.standart__title {
  font-size: 20px;
  font-weight: 700;
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background-color: $anime-color;
    margin: 20px 0;
  }
}

.standart__text {
  color: #86878b;
  font-size: 14px;
}
