@import "../../../index.scss";

.sublist__content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-right: 50px;
  margin-left: 140px;
}

.sublist__size {
  max-width: 500px;
}

.sublist__title {
  font-size: 20px;
  font-weight: 700;
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background-color: $anime-color;
    margin: 20px 0;
  }
}

.sublist__text {
  color: #86878b;
  font-size: 14px;
}

.sublist__block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sublist__img {
  padding: 7px 5px;
  border: 2px solid $anime-color;
  border-radius: 100%;
  margin-right: 25px;
}

.list__title {
  font-weight: 600;
}

.list__text {
  font-size: 14px;
  color: #acadaf;
}
